@inject IHtmlLocalizer<HomeController> localizer
@model MetricsViewModel;

<div class="container">

    @foreach (var key in Model.Counters)
    {


        <div class="row">
            <span style="height:60px;">
                <span class="badge badge-dark" style="font-size:large; width:100px;margin-right:8px"> @key.Item2 </span>
                <span style="min-width:200px;">@localizer[key.Item1]</span>
            </span>
        </div>
    }

</div>

