@inject IHtmlLocalizer<HomeController> localizer

<style>
    td {
        height: 4em;
    }
</style>

<table>
    <tr>
        <td style="width:100px;">
            <span class="badge badge-dark" style="font-size:large">
                15
            </span>
        </td>
        <td>
            @localizer["YearsCollectingData"]
        </td>
    </tr>
    <tr>
        <td style="width:100px;">
            <h3 class="badge badge-dark" style="font-size:large">
                3421
            </h3>
        </td>
        <td>
            @localizer["PatientsRegistered"]
        </td>
    </tr>
    <tr>
        <td style="width:100px;">
            <h3 class="badge badge-dark" style="font-size:large">
                18
            </h3>
        </td>
        <td>
            @localizer["CountriesParticipating"]
        </td>
    </tr>
    <tr>
        <td style="width:100px;">
            <h3 class="badge badge-dark" style="font-size:large">
                109
            </h3>
        </td>
        <td>
            @localizer["CompletedStudies"]
        </td>
    </tr>
</table>